
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <form action="/User/Register" method="post">
            <input type="text" name="username" placeholder="Kullanıcı Adı" />
            <input type="password" name="password" placeholder="Şifre" />
            <input type="submit" value="Kayıt Ol" />
        </form>
        <p style="color:red;">@ViewBag.Error</p>
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
